In [ ]:
import pandas as pd
from ast import literal_eval
import seaborn as sns
import numpy as np

movies_metadata = pd.read_csv("data/movies_metadata.csv")
links_small  = pd.read_csv("data/links_small.csv")
movies_keywords  = pd.read_csv("data/keywords.csv")

links_small = links_small[links_small['tmdbId'].notnull()]["tmdbId"].astype('int')
movies_metadata_small = movies_metadata[movies_metadata['id'].isin(links_small.astype('str'))]

print(movies_metadata_small.shape)
# movies= movies_metadata_small[['id', 'title', 'genres', 'popularity', 'release_date']]

# movies['id'] = movies['id'].astype('str')
# movies_keywords['id'] = movies_keywords['id'].astype('str')

# movies = movies.merge(movies_keywords,on='id')

# print(movies['genres'].loc[0])
# movies['genres'] = movies['genres'].fillna('[]').apply(literal_eval) \
#                 .apply(lambda x: sorted([i['name'] for i in x]) if isinstance(x,list) else [])

# movies['keywords'] = movies['keywords'].fillna('[]').apply(literal_eval) \
#                 .apply(lambda x: sorted([i['name'] for i in x]) if isinstance(x,list) else [])


# movies['str_genres_keywords'] = movies['genres'] + movies['keywords']

# movies['str_genres_keywords'] = movies['str_genres_keywords'].apply(lambda x: sorted(list(x))) \
#                               .apply(lambda x:" ".join(x) if len(x) > 0 else None)


# print(movies['str_genres_keywords'].head())
# movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
# movies['year'] = movies['release_date'].dt.year

# movies['popularity'] = movies['popularity'].astype(float)
# movies['popularity_log'] = np.log(movies['popularity'])

# movies = movies.dropna().reset_index(drop=True)

(9099, 24)

C:\Users\C414\AppData\Local\Temp\ipykernel_204\2854291586.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("data/movies_metadata.csv")

In [ ]:
#object
movies_metadata_small['id']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
40224    315011
40503    391698
44821     10991
44826     12600
45265    265189
Name: id, Length: 9099, dtype: object

In [ ]:
#int
movies_keywords['id']

0           862
1          8844
2         15602
3         31357
4         11862
          ...
46414    439050
46415    111109
46416     67758
46417    227506
46418    461257
Name: id, Length: 46419, dtype: int64

In [7]:
#int -> object로 변경
movies_keywords['id'] = movies_keywords['id'].astype('str')

In [8]:
movies_metadata_small = movies_metadata_small.merge(movies_keywords, on="id")
movies_metadata_small.shape

(9151, 25)

In [9]:
movies_metadata_small.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [10]:
movies_keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [12]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [13]:
movies = movies_metadata_small[['id', 'title', 'genres', 'keywords', 'overview', 'popularity', 'release_date']]

In [15]:
movies.head()

,id,title,genres,keywords,overview,popularity,release_date
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,11.7129,1995-12-22
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,8.387519,1995-02-10

In [ ]:
# 데이터 전처리 , genres, keywords, overview 를 섞어서 contents를 만듦 
# 참조 : bowmovie

In [16]:
movies['str_genres'] = movies['genres'].fillna('[]') \
                    .apply(literal_eval) \
                    .apply(lambda x:sorted(i['name'] for i in x) if isinstance(x,list) else []) \
                    .apply(lambda x: ", ".join(x) if len(x) > 0 else None)

C:\Users\C414\AppData\Local\Temp\ipykernel_204\3023446116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['str_genres'] = movies['genres'].fillna('[]') \

In [17]:
movies.head()

,id,title,genres,keywords,overview,popularity,release_date,str_genres
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,"Animation, Comedy, Family"
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"Adventure, Family, Fantasy"
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,11.7129,1995-12-22,"Comedy, Romance"
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,"Comedy, Drama, Romance"
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,8.387519,1995-02-10,Comedy

In [18]:
movies['str_keywords'] = movies['keywords'].fillna('[]') \
                    .apply(literal_eval) \
                    .apply(lambda x:sorted(i['name'] for i in x) if isinstance(x,list) else []) \
                    .apply(lambda x: ", ".join(x) if len(x) > 0 else None)

C:\Users\C414\AppData\Local\Temp\ipykernel_204\1846850953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['str_keywords'] = movies['keywords'].fillna('[]') \

In [19]:
movies['str_keywords']

0       boy, boy next door, friends, friendship, jealo...
1       based on children's book, board game, disappea...
2       best friend, duringcreditsstinger, fishing, ol...
3       based on novel, chick flick, divorce, interrac...
4       aging, baby, confidence, contraception, daught...
                              ...
9146    anime, based on tv series, based on video game...
9147                              celebi, pokémon, sequel
9148                              celebi, pokémon, sequel
9149    avalanche, dark comedy, family vacation, femal...
9150    avalanche, dark comedy, family vacation, femal...
Name: str_keywords, Length: 9151, dtype: object

In [20]:
def get_genres_keywords_overview(row):
    return f"""
    genres:
    {row['str_genres']}

    keywords:
    {row['str_keywords']}

    overview:
    {row['overview']}

    """

In [21]:
#axis = 0 : row , axis=1 : column
movies['genres_keywords_overview'] = movies.apply(get_genres_keywords_overview, axis=1)

C:\Users\C414\AppData\Local\Temp\ipykernel_204\3832083153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres_keywords_overview'] = movies.apply(get_genres_keywords_overview, axis=1)

In [22]:
movies['genres_keywords_overview']

0       \n    genres:\n    Animation, Comedy, Family\n...
1       \n    genres:\n    Adventure, Family, Fantasy\...
2       \n    genres:\n    Comedy, Romance\n\n    keyw...
3       \n    genres:\n    Comedy, Drama, Romance\n\n ...
4       \n    genres:\n    Comedy\n\n    keywords:\n  ...
                              ...
9146    \n    genres:\n    Action, Adventure, Animatio...
9147    \n    genres:\n    Adventure, Animation, Famil...
9148    \n    genres:\n    Adventure, Animation, Famil...
9149    \n    genres:\n    Comedy, Drama\n\n    keywor...
9150    \n    genres:\n    Comedy, Drama\n\n    keywor...
Name: genres_keywords_overview, Length: 9151, dtype: object

In [23]:
movies.head()

,id,title,genres,keywords,overview,popularity,release_date,str_genres,str_keywords,genres_keywords_overview
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,"Animation, Comedy, Family","boy, boy next door, friends, friendship, jealo...","\n genres:\n Animation, Comedy, Family\n..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,"Adventure, Family, Fantasy","based on children's book, board game, disappea...","\n genres:\n Adventure, Family, Fantasy\..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",A family wedding reignites the ancient feud be...,11.7129,1995-12-22,"Comedy, Romance","best friend, duringcreditsstinger, fishing, ol...","\n genres:\n Comedy, Romance\n\n keyw..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,"Comedy, Drama, Romance","based on novel, chick flick, divorce, interrac...","\n genres:\n Comedy, Drama, Romance\n\n ..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just when George Banks has recovered from his ...,8.387519,1995-02-10,Comedy,"aging, baby, confidence, contraception, daught...",\n genres:\n Comedy\n\n keywords:\n ...

In [24]:
movies['genres_keywords_overview'].iloc[0]

"\n    genres:\n    Animation, Comedy, Family\n\n    keywords:\n    boy, boy next door, friends, friendship, jealousy, new toy, rivalry, toy, toy comes to life\n\n    overview:\n    Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.\n\n    "

In [25]:
#year
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
movies['year'] = movies['release_date'].dt.year

C:\Users\C414\AppData\Local\Temp\ipykernel_204\2192211003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
C:\Users\C414\AppData\Local\Temp\ipykernel_204\2192211003.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['year'] = movies['release_date'].dt.year

In [26]:
#popularity_log 
movies['popularity'] = movies['popularity'].astype(float)
movies['popularity_log'] = np.log(movies['popularity'])

C:\Users\C414\AppData\Local\Temp\ipykernel_204\2047333632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['popularity'] = movies['popularity'].astype(float)
C:\Users\C414\AppData\Local\Temp\ipykernel_204\2047333632.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['popularity_log'] = np.log(movies['popularity'])

In [ ]:
# drop null data 결측치 제거후 index 재생성
movies = movies.dropna().reset_index(drop=True)

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8368 entries, 0 to 8367
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        8368 non-null   object
 1   title                     8368 non-null   object
 2   genres                    8368 non-null   object
 3   keywords                  8368 non-null   object
 4   overview                  8368 non-null   object
 5   popularity                8368 non-null   float64
 6   release_date              8368 non-null   datetime64[ns]
 7   str_genres                8368 non-null   object
 8   str_keywords              8368 non-null   object
 9   genres_keywords_overview  8368 non-null   object
 10  year                      8368 non-null   int32
 11  popularity_log            8368 non-null   float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(8)
memory usage: 751.9+ KB

### LLM기반 Contents Based Filtering

In [30]:
from transformers import BertTokenizer, BertModel
import torch

model_name = "bert-base-uncased"

In [31]:
# tokenizer

tokenizer = BertTokenizer.from_pretrained(model_name)

c:\01JSPARK\03python\02code\02contentbow\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\C414\.cache\huggingface\hub\models--bert-base-uncased. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

In [32]:
print(tokenizer)

BertTokenizer(name_or_path='bert-base-uncased', vocab_size=30522, model_max_length=512, is_fast=False, padding_side='right', truncation_side='right', special_tokens={'unk_token': '[UNK]', 'sep_token': '[SEP]', 'pad_token': '[PAD]', 'cls_token': '[CLS]', 'mask_token': '[MASK]'}, clean_up_tokenization_spaces=True, added_tokens_decoder={
	0: AddedToken("[PAD]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	100: AddedToken("[UNK]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	101: AddedToken("[CLS]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	102: AddedToken("[SEP]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
	103: AddedToken("[MASK]", rstrip=False, lstrip=False, single_word=False, normalized=False, special=True),
}
)

In [34]:
sentence = "Transformers are amazing!"

tokens = tokenizer.tokenize(sentence)
tokens

['transformers', 'are', 'amazing', '!']