In [1]:
print("test")

test

In [2]:
#함수정의
def greet():
    print("HT!!!")
    print("Python Study")

#함수호출 
greet()

HT!!!
Python Study

In [ ]:
#parameter
def greet_para(name):
    print(f"{name}, Hi!!!")

greet_para("Jason Dononvan")

def add_num(a,b):
    result = a + b
    print(f"{a} + {b} = {result}")

add_num(100 , 200)

Jason Dononvan, Hi!!!
100 + 200 =  300

In [5]:
def greet(name="손님"):
    print(f"안녕하세요, {name}님!")

greet("홍길동")  # 안녕하세요, 홍길동님!
greet()  # 안녕하세요, 손님님!

# 기본값이 있는 매개변수는 뒤에 위치
def introduce(name, age=20, city="서울"):
    print(f"이름: {name}, 나이: {age}, 도시: {city}")

introduce("홍길동")
introduce("김철수", 25)
introduce("이영희", 22, "부산")

안녕하세요, 홍길동님!
안녕하세요, 손님님!
이름: 홍길동, 나이: 20, 도시: 서울
이름: 김철수, 나이: 25, 도시: 서울
이름: 이영희, 나이: 22, 도시: 부산

In [6]:
# *args: 여러 개의 위치 인수를 튜플로 받음
def add_all(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(add_all(1, 2, 3))  # 6
print(add_all(1, 2, 3, 4, 5))  # 15
print(add_all(10, 20, 30, 40, 50, 60))  # 210

# **kwargs: 여러 개의 키워드 인수를 딕셔너리로 받음
def print_info(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

print_info(name="홍길동", age=25, city="서울")

6
15
210
name: 홍길동
age: 25
city: 서울